.left-menu-list
  padding-right: 16px
  border-radius: 2px
  height: 100%
  overflow: auto
  .left-menu-warp
    height: 100%
    background: #fff
  .left-menu-title
    line-height: 48px
    border-bottom: 1px solid rgba(0, 0, 0, 0.06)
    padding: 0 24px
    font-size: 16px
  ul
    padding: 16px 24px
    height: 100%
    overflow: auto
    height: calc(100vh - 160px)
    li
      padding: 5px 16px
      cursor: pointer
      transition: all 0.3s ease-in
      background-color: #fff
      &:hover
        background-color: #0000000a
        transition: all 0.3s ease-in
      &.active
        background-color: #e6f7ff
        transition: all 0.3s ease-in